
body{
	background-color: #E0E0E0
}
.modal .modal-dialog {
 max-height: 700px;
    overflow-y: auto;
    width: 80%; }
.bunde{
	background-color: #673AB7
}
#googleMap{
	margin:0 1rem 1rem;
	padding:1.5rem;
	height: 600px;
}
#googleMaps{

	margin:0 1rem 1rem;
	padding:1.5rem;
	height: 600px;

}
.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin:top left;
}
.center{
	margin-left: 250px;
}
.search-button {

  background: url('/static/search-128.png') left center no-repeat;
  background-size: 30px 30px;
 background-position: center;
  width:40px;
height:40px;
border: 0;
}
input{
	background: none;
	border-top: none;
	border-left: none;
	border-right:none;
	border-color:black;
	outline-color: black;
	margin-left: 200px;
	width:500px;
}
textarea:focus, input:focus{
    outline: 0;
}